In [2]:
# Optional installation of auto-formatting
!pip install nb_black

Collecting nb_black
  Downloading nb_black-1.0.7.tar.gz (4.8 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.8/site-packages (from nb_black) (7.21.0)
Collecting black>='19.3'
  Downloading black-20.8b1.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 1.2 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
  WARNING: Requested black>='19.3' from https://files.pythonhosted.org/packages/dc/7b/5a6bbe89de849f28d7c109f5ea87b65afa5124ad615f3419e71beb29dc96/black-20.8b1.tar.gz#sha256=1c02557aa099101b9d21496f8a914e9ed2222ef70336404eeeac8edba836fbea (from nb_black), but installing version 20.8b1
Requirement already satisfied: appdirs in /opt/conda/lib/python3.8/site-packages (from black>='19.3'->nb_black) (1.4.4)
Collecting regex>=2020.1.8
  Downloading regex-2021.3.17-cp38-cp38-manylinux2014_x86_64.whl (737 kB)
     |████████████████████████████████| 737 kB 1.1 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=3.7.4 in /opt/conda/lib/python3.8/site-packages (from black>='19.3'->nb_black) (3.7.4.3)
Requirement already satisfied: click>=7.1.2 in /opt/conda/lib/python3.8/site-packages (from black>='19.3'->nb_black) (7.1.2)
Collecting typed-ast>=1.4.0
  Downloading typed_ast-1.4.2-cp38-cp38-manylinux1_x86_64.whl (774 kB)
     |████████████████████████████████| 774 kB 1.1 MB/s eta 0:00:01
Collecting mypy-extensions>=0.4.3
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Collecting pathspec<1,>=0.6
  Downloading pathspec-0.8.1-py2.py3-none-any.whl (28 kB)
Collecting toml>=0.10.1
  Downloading toml-0.10.2-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (49.6.0.post20210108)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (3.0.16)
Requirement already satisfied: pygments in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (2.8.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (4.4.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (0.18.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (5.0.5)
Requirement already satisfied: backcall in /opt/conda/lib/python3.8/site-packages (from ipython->nb_black) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.8/site-packages (from jedi>=0.16->ipython->nb_black) (0.8.1)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.8/site-packages (from pexpect>4.3->ipython->nb_black) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->nb_black) (0.2.5)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.8/site-packages (from traitlets>=4.2->ipython->nb_black) (0.2.0)
Building wheels for collected packages: nb-black, black
  Building wheel for nb-black (setup.py) ... done
  Created wheel for nb-black: filename=nb_black-1.0.7-py3-none-any.whl size=5279 sha256=082539388d9a5ca8b67e3dc5df068a6d707f6087f6b463ea350d5f643e91429e
  Stored in directory: /home/jovyan/.cache/pip/wheels/a6/5e/1e/a15614d6ea220d070043db3b650d73a8b4938aefd520496c11
  Building wheel for black (PEP 517) ... done
  Created wheel for black: filename=black-20.8b1-py3-none-any.whl size=124184 sha256=d7056fcb44f5afa2695a57ed86f02a77e24664e83b69c6840482c446eff20ef7
  Stored in directory: /home/jovyan/.cache/pip/wheels/95/a4/59/10cd5378d52f92cdb45025f040e4686e10ae5217961c25fd66
Successfully built nb-black black
Installing collected packages: typed-ast, toml, regex, pathspec, mypy-extensions, black, nb-black
Successfully installed black-20.8b1 mypy-extensions-0.4.3 nb-black-1.0.7 pathspec-0.8.1 regex-2021.3.17 toml-0.10.2 typed-ast-1.4.2

In [3]:
import pandas as pd

In [4]:
# for the data, I've chosen the best selling cars in the UK up to February of 2021
# https://www.autoexpress.co.uk/news/94280/best-selling-cars-2021

# Create the dictionary with the data from the previous article

cars = {
    "Model": [
        "Vauxhall Corsa",
        "Kia Sportage",
        "Nissan Qashqai",
        "Ford Fiesta",
        "Volvo XC40",
    ],
    "Sales": [3078, 2986, 2835, 2594, 2201],
}

In [5]:
# create a pandas dataframe from the data in 'cars'

df = pd.DataFrame(cars, columns=["Model", "Sales"])

In [6]:
# display the dataframe

print(df)

            Model  Sales
0  Vauxhall Corsa   3078
1    Kia Sportage   2986
2  Nissan Qashqai   2835
3     Ford Fiesta   2594
4      Volvo XC40   2201

In [9]:
# Practice some SELECT statement equivalents

In [8]:
# use df.loc for label-based indexing

df.loc[df["Model"] == "Kia Sportage"]

          Model  Sales
1  Kia Sportage   2986

In [11]:
df.loc[df["Sales"] > 2500]

            Model  Sales
0  Vauxhall Corsa   3078
1    Kia Sportage   2986
2  Nissan Qashqai   2835
3     Ford Fiesta   2594

In [12]:
# search for a string

df.loc[df["Model"].str.contains("V")]

            Model  Sales
0  Vauxhall Corsa   3078
4      Volvo XC40   2201

In [13]:
# Multiple conditions
# use `&`, `|`, `~` for and , or, not
# parentheses required due to precedence of logic and comparision operators
df.loc[(df["Model"].str.contains("V")) | (df["Sales"] == 2986)]

            Model  Sales
0  Vauxhall Corsa   3078
1    Kia Sportage   2986
4      Volvo XC40   2201